body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-image: url(bcg.webp);
}

#messageDisplay {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.message {
  align-self: flex-end;
  background-color: #10cf6c;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.input-container input[type="text"] {
  flex: 1;
  padding: 10px;
}

.input-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 30px;
}

.user-message {
  align-self: flex-end;
  background-color: #10cf6c;
  color: #fff;
}

.bot-message {
  align-self: flex-start;
  background-color: #007bff;
  color: #fff;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
}